$cyan-color: hsl(179, 62%, 43%);
$yellow-color: hsl(71, 73%, 54%);
$gray-color: hsl(203, 19%, 81%);
$bue-color: hsl(218, 22%, 67%);

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5dede;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

.container {
  width: 90%;
  min-height: 80%;
  max-width: 1000px;
  display: grid;
  gap: 0;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr) 5%;

  grid-template-areas:
    "sup sup"
    "izq der"
    "foo foo";
  @media (max-width: 375px) {
    grid-template-areas:
    "sup sup"
    "izq izq"
    "der der"
    "foo foo";
  }
  .top {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    grid-area: sup;

    h1 {
      color: $cyan-color;
      margin-bottom: 1.2rem;
      font-size: 48px;
      font-weight: 700;
      @media (max-width: 375px) {
        margin-bottom: 0.8rem;
        font-size: 20px;
      }
    }
    h2 {
      color: $yellow-color;
      margin-bottom: 0.8rem;
      font-size: 28px;
      @media (max-width: 375px) {
        margin-bottom: 0.5rem;
        font-size: 18px;
      }
    }
    p {
      color: $gray-color;
      margin-bottom: 0.5rem;
      font-size: 18px;
      @media (max-width: 375px) {
        margin-bottom: 0.2rem;
        font-size: 16px;
      }
    }
  }

  .bottom-left,
  .bottom-rigth {
    color: white;
  }

  .bottom-left {
    background-color: $cyan-color;
    grid-area: izq;

    strong {
      font-size: 36px;
      font-weight: 700;
      @media (max-width: 375px) {
        font-size: 20px;
      }
    }

    span {
      color: $gray-color;
    }

    button {
      width: 100%;
      height: 3.5rem;
      background-color: $yellow-color;
      color: $gray-color;
      font-size: 18px;
      font-weight: 700;
      border: 1px solid hsl(179, 62%, 43%);
      border-radius: 4px;
      box-shadow: 2px 2px 10px #888888;
      @media (max-width: 375px) {
        height: 2.5rem;
        font-size: 16px;
      }
    }

  }

  .bottom-rigth {
    background-color: hsl(179, 62%, 50%);
    grid-area: der;

    li {
      list-style: none;
      font-size: 15px;
      font-weight: 500;
    }
  }

  footer {
    grid-area: foo;
  }
}

.container > {
  div,
  footer {
    padding: 20px 40px;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }
}
